body {
    background-color: #191919;
    color: #fff;
    font-family: sans-serif;
}

span {
    font-weight: bold;
}

.box1, .box2, .box3, .box4 {
    padding: 15px;
    border: solid;
    border-radius: 15px;
    border-color: darkgray;
    margin-bottom: 15px;
}